<!DOCTYPE html>
<html>
<head>
	<title>{%block title%}好电脑首页{%endblock%}</title>
	<meta charset="utf-8">
    {% load staticfiles %}
</head>
<body>

 {%include 'top_bar.html'%}
 <div id="head-bar">
  <div class="head-bar">
  	 <div class="head-tit col-sm-4 col-sm-offset-1">
  	 	<div class="big-tit">好电脑</div>
  	 	<span>买电脑就上好电脑</span>
  	 </div>
  	 <div class="search-bar col-sm-5">
  	 <form role='form' method="get" action="//10.6.31.21:8000/search" id="search-form" target="_self">	
      <div class="input-group">
  	 		<input type="text" name="q" class="form-control" placeholder="搜商品、搜店铺、搜品牌" id="search-content">
  	 		<sapn class="input-group-addon" style="cursor: pointer;" id="search-btn"><i class="fa fa-search"></i></span>
  	 	</div></form>
  	 	<div class="ping-pai">
  	 		<ul style="margin-left: -50px;">
  	 			<li style="border-left:none;"><a href="//10.6.31.21:8000/search?q=联想">联想</a></li>
  	 			<li><a href="//10.6.31.21:8000/search?q=戴尔">戴尔</a></li>
  	 			<li><a href="//10.6.31.21:8000/search?q=ThinkPad">ThinkPad</a></li>
  	 			<li><a href="//10.6.31.21:8000/search?q=华硕">华硕</a></li>
  	 			<li><a href="//10.6.31.21:8000/search?q=苹果">苹果</a></li>
  	 			<li><a href="//10.6.31.21:8000/search?q=小米">小米</a></li>
          <li><a href="//10.6.31.21:8000/search?q=惠普">惠普</a></li>
  	 		</ul>
  	 	</div>
  	 </div>
  </div>
 </div>
  {% block content%}
  <div class="menu-area" alt="图片加载失败" style="background: url({% static 'img/首页背景1.jpg'%});background-repeat: no-repeat;
      background-size: 100% 100%;">
  	  <div class="menu-bar">
  	  	<div class="menus">
  	  		<ul>
  	  		<li><a href="#">电脑主机 配件</a></li>
  	  		<li><a href="#">电脑主机 配件</a></li>
  	  		<li><a href="#">电脑主机 配件</a></li>
  	  		<li><a href="#">电脑主机 配件</a></li>
  	  		<li><a href="#">电脑主机 配件</a></li>
  	  		<li><a href="#">电脑主机 配件</a></li>
  	  		<li><a href="#">电脑主机 配件</a></li>
  	  		<li><a href="#">电脑主机 配件</a></li>
  	  		<li><a href="#">电脑主机 配件</a></li>
  	  		<li><a href="#">电脑主机 配件</a></li>
  	  		<li><a href="#">电脑主机 配件</a></li>
  	  		<li><a href="#">电脑主机 配件</a></li>
  	  	</ul>
  	   </div>
  	  </div>
      <div class="loop-sign">
        <ul>
          <li class="sign choose"></li>
          <li class="sign"></li>
          <li class="sign"></li>
          <li class="sign"></li>
        </ul>
      </div>
  </div>
  <div id="goods-bar">
   <h2>最新推荐</h2>
   <div class="goods-show">
   	{% for obj in data%}
   	 <div class="col-lg-2 col-md-3 col-sm-6 goods-area">
     <div class="goods-item">
        <div class="img-bar">
          <a href="#"><img src="{%static 'img/onload.gif'%}"data-echo="{{MEDIA_URL}}{{obj.proImg.0}}"
           class="img-responsive loading animated fadeIn" alt="图片加载失败"></a>
        </div>
        <div class="describe-bar">
            <div class="price"><b style="font-size: 16px">¥</b><span>{{obj.proPrice}}.00</span></div>
            <div class="name"><a href="#">{{obj.proName}}</a></div>
            <div class="desc">{{obj.proDesc}}</div>
            <div class="remark-count">
              <i class="fa fa-comments-o" style="color: #ADACAD"></i>
              已有<strong style="color: #1B27E9">{{obj.proRemarkcount}}</strong>人评论
            </div>
            <a href="#" class="shop">
              <img src="{%static 'img/shop.png'%}" width="16px" height="16px">&nbsp;{{obj.proShop }}
            </a>
       </div>
         <div class="utils">
           <span><i class="fa fa-heart-o"></i></span>
           <span><i class="fa fa-shopping-cart"></i></span>
         </div>
    </div>
   </div> 
    {% empty %}
     <h3><i class="fa fa-spinner fa-spin"></i></h3>
   	{% endfor %}
   
   </div>
  </div>
 
  {% endblock %}


  <script type="text/javascript">
  	$(function() {
      {% block js%}
  		$(".menus ul li").hover(function() {
  			$(this).css('background-color', '#fff');
  			$(this).find('a').css('color', 'black');
  		}, function() {
  			$(this).css('background-color', 'transparent');
  			$(this).find('a').css('color', '#fff');
  		}); 
       //首页背景图片轮播
       var index = 1;
       bg = ['首页背景1.jpg','首页背景2.jpg','首页背景3.jpg','首页背景4.jpg']
       $(document).ready(function() {
           setInterval(loopImg,5000);
       });

       function loopImg() {
         if(index==bg.length){
           index =0;
         }
         //更换图片
         url = "url(../static/img/"+bg[index]+")"; //图片路径
         $(".menu-area").css('background', url).css('background-repeat', 'no-repeat').css('background-size', '100% 100%').addClass(' animated fadeIn');

         //轮播标识切换
         $('.choose').removeClass('choose');
         $('.sign').eq(index).addClass('choose');
         index++;   
       }
       
       {% endblock %}
       //搜索模块
       $('#search-btn').click(function(event) {
         var con = $('#search-content');//.val()获取input的值
         if(con.val().length==0){
          con.css('border', '1px solid red').addClass('animated flash');
          con.attr('placeholder', '请先输入关键词');
         }
         else{
          con.css('border', '1px solid #ccc').removeClass('animated flash')
          con.attr('placeholder', '搜商品、搜店铺、搜品牌');
          $('#search-form').submit();
         }
       }); 

           
  	});
  </script>
</body>
</html>
