{%extends 'Regist.html'%}
{%load static%}
{%block title%}用户登录-好电脑{%endblock%}
{%block css%} {%endblock%}
{%block content%}
<link rel="stylesheet" type="text/css" href="{%static 'font-awesome-4.7.0/css/font-awesome.min.css'%}">
<link rel="stylesheet" type="text/css" href="{%static 'css/login.min.css'%}">
  <div  class="col-sm-12">
  	<div class="login-bar ">
      <div class="ad-image col-lg-7 hidden-sm">   
        <img src="{%static 'img/login_bg.jpg'%}" width="100%" height="100%">
      </div>
  	  <div class="login-area col-lg-4 col-sm-12">
          <div style="margin: 20px" class="login-form">
              <div class="tit-bar">
                <div class="login-type">账号登录</div>
                <div class="login-mention">扫码登录</div>
                 <div class="failmesg">
                  <span class="text-danger">{{failMessage}}</span>
                 </div>
              </div>
            <div class="form-area">
                  <form role='form' id="login-form" method="post" action="doLogin">
                    {% csrf_token %}
                  <div class="form-input col-sm-9 input-group">
                    <span class="input-group-addon" style="background-color: #FDF9F9;"><i class="fa fa-user fa-lg"></i></span>
                    <input type="text" class="form-control" name="usercount" id="usercount" placeholder="输入手机号"> 
                  </div>
                   <div style="margin-left:60px"></div>
                  <div class="form-input input-group col-sm-9 ">
                    <span class="input-group-addon" style="background-color: #FDF9F9;"><i class="fa fa-lock fa-lg"></i></span>
                      <input type="password" name="password" class="form-control" id="password" placeholder="输入密码">
                  </div>
                  <div style="margin-left:60px"></div>
                  <div class="col-sm-10">
                    <button type="submit" class="btn btn-danger login-btn ">点击登录</button>
                  </div>
                   </form>  
                   <div class="saoma-img">
                     <img src="../static/img/公众号.jpg" style="max-width: 160px;max-height: 160px">
                   </div>
              </div>
              <div class="pull-right">还没账号？<a href="{%url 'regist'%}">赶紧注册</a></div>   
          </div>
           <div class="third-count" style="width: 100%;margin-top: 45px;">
                <h5 style="position: relative;"><p class="third-tit" style="margin-left: 36%;margin-top:-10px">第三方账号登录</p></h5>
                <ul class="count-list">
                  <li style="margin-left: -10px"><a href="#" style="color: #4CA2FD"><i class="fa fa-qq icon"></i></a></li>
                  <li><a href=""><i class="fa fa-wechat icon" style="color: #0E9E4E"> </i></a></li>
                  <li><a href=""><i class="fa fa-github icon" style="color: #031109"></i></a></li>
                  <li><a href=""><i class="fa fa-weibo icon" style="color: #ED561B"></i></a></li>
                </ul>
            </div>
  	  </div>
  	</div>
  {%endblock%}
  {%block js%}
  	var i = 1;
  	$(function() {
  		$("[data-toggle='tooltip']").tooltip(); //初始化tooltip插件
  		var valid = $("#login-form").Validform({ //创建表单验证对象
  			tiptype:2,
  			showAllError:true
  		});
  		valid.tipmsg.r = "输入有效"; //更改验证通过显示消息
  		valid.addRule([  //为表单元素创建验证规则
             {
             	ele:"#usercount",
             	datatype:"m", //输入须是合格的手机号
             	nullmsg:"请输入手机号",
             	errormsg:"请输入有效的手机号码",
             },
             {
             	ele:"#password",
             	datatype:"*6-16", //输入为任意6-16个字符
             	nullmsg:"请输入密码",
             	errormsg:"密码为6-16个任意字符",
             }
  			]);
  		$(".login-mention").click(function(event) {
  			if(i%2==1){
	  			$(this).text("账号登录");
	  			$(".login-type").text("扫码登录");
	  			$("#login-form").hide();
	  			$(".saoma-img").show();
  			}else{
  				$(this).text("扫码登录");
	  			$(".login-type").text("账号登录");
	  			$("#login-form").show();
	  			$(".saoma-img").hide();
  			}
  			i++;
  		});
  	});
{%endblock%}