{%extends 'Regist.html'%}
{%load static%}
{%block title%}用户登录-好电脑{%endblock%}

{%block content%}
<style type="text/css">
    .login-area{
      width:1100px;
      height:600px;
      margin:0 auto;
      margin-top:50px;
      border: 1px solid gray;
    }
    .ad-image{
      height:450px;
      margin:10px;
      float:left;
      border:1px solid gray;
    }
    .ad-image img{
      max-width: 100%;
      max-height: 100%;
    }
    .login-form{
      height:450px;
      margin:10px;
      margin-left: 30px;
      border:1px solid blue;
    }
</style>
  <div id="login" class="col-sm-12">
  	<div class="login-area">
      <div class="ad-image col-lg-7 hidden-sm">   
        <img src="localhost:8000/get-image?name=7.jpg">
      </div>
  	  <div class="login-form col-lg-4 col-sm-12">
          
  	  </div>
  	</div>
  </div>
  {%endblock%}
  <script type="text/javascript">
  	var i = 1;
  	$(function() {
  		$("[data-toggle='tooltip']").tooltip(); //初始化tooltip插件
  		var valid = $("#login-form").Validform({ //创建表单验证对象
  			tiptype:2,
  			showAllError:true
  		});
  		valid.tipmsg.r = "输入有效"; //更改验证通过显示消息
  		valid.addRule([  //为表单元素创建验证规则
             {
             	ele:"#usercount",
             	datatype:"m", //输入须是合格的手机号
             	nullmsg:"请输入手机号",
             	errormsg:"请输入有效的手机号码",
             },
             {
             	ele:"#password",
             	datatype:"*6-16", //输入为任意6-16个字符
             	nullmsg:"请输入密码",
             	errormsg:"密码为6-16个任意字符",
             }
  			]);
  		$(".login-mention").click(function(event) {
  			if(i%2==1){
	  			$(this).text("账号登录");
	  			$(".tit").text("扫码登录");
	  			$("#login-form").hide();
	  			$(".saoma-img").show();
  			}else{
  				$(this).text("扫码登录");
	  			$(".tit").text("账号登录");
	  			$("#login-form").show();
	  			$(".saoma-img").hide();
  			}
  			i++;
  		});
  	});
  </script>
