<style type="text/css">
  .login-form{
    
  }
</style>
<div class="tit" style="color: #932816;font-size: 30px">账号登录</div>
  		<div class="login-mention">扫码登录</div>
  		<div>
        <span class="text-danger">{{failMessage}}</span>
  			<form role='form' id="login-form" method="post" action="doLogin">
          {% csrf_token %}
  			<div class="input-group col-sm-8 col-sm-offset-2">
  				<span class="input-group-addon"><i class="fa fa-user"></i></span>
  				<input type="text" name="usercount" class="form-control" id="usercount" placeholder="输入手机号">
  				
  			</div>
  			<span class="Validform_checktip"></span>
  			<div class="input-group col-sm-8 col-sm-offset-2">
  				<span class="input-group-addon"><i class="fa fa-lock"></i></span>
  				<input type="password" name="password" class="form-control" id="password" placeholder="输入密码">
  			</div>
  			<span class="Validform_checktip"></span>
  			<div class="form-group  col-sm-offset-2">
  				<button type="submit" class="btn btn-success  login-btn ">点击登录</button>
  			</div>
  		   </form>	
         <div class="saoma-img"></div>
     	</div>

  		<div class="col-sm-12 thiird-login">
  			<span style="top: -30px;font-size:14px">第三方账号登录<span style="position:absolute;top:-30px;right:4px">没账号?<a href="{%url 'regist'%}">赶紧注册</a></span></span>
  			<ul style="margin-top: 10px">
  				<li><a href="#" title="QQ"><i style="color: #15909F" class="fa fa-qq"></i></a></li>
  				<li ><a href="#" title="GitHub"><i style="color: #011214"  class="fa fa-github"></i></a></li>
  				<li ><a href="#" title="微信"><i style="color: #1FBC4F" class="fa fa-weixin"></i></a></li>
  				<li ><a href="#" title="微博"><i style="color: #F32C40" class="fa fa-weibo"></i></a></li>
  			</ul>
  		</div>