<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>立方体相册</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/girl.css') }}">
</head>
<body>
<div class="max-box">
    <div class="max-item"><img src="" alt="" class="max-top"></div>
    <div class="max-item"><img src="" alt="" class="max-bottom"></div>
    <div class="max-item"><img src="" alt="" class="max-left"></div>
    <div class="max-item"><img src="" alt="" class="max-right"></div>
    <div class="max-item"><img src="" alt="" class="max-front"></div>
    <div class="max-item"><img src="" alt="" class="max-back"></div>
</div>
<div class="min-box">
    <div class="min-item"><img src="" alt=""></div>
    <div class="min-item"><img src="" alt=""></div>
    <div class="min-item"><img src="" alt=""></div>
    <div class="min-item"><img src="" alt=""></div>
    <div class="min-item"><img src="" alt=""></div>
    <div class="min-item"><img src="" alt=""></div>
</div>
</body>
</html>