<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>邮件发送测试</title>
    <style>
        .mail-bar{width: 300px;height: auto;margin:0 auto;text-align: center;margin-top:100px;}
        .mail-item{margin-top: 20px;}
    </style>
</head>
<body>
    <div class="mail-bar">
        <form action="/sendMail" method="post">
            <h2>邮件发送</h2>
            <div class="mail-item"><label for="">主题：</label><input type="text" name="subject"></div>
            <div class="mail-item"><label for="">接收人:</label><input type="text" name="sendPeople"></div>
            <div class="mail-item"><label for="">内容：</label><textarea name="content" minlength="5" maxlength="100" rows="4" style="resize: none"></textarea></div>
            <div class="mail-item"><input type="submit" value="确定发送"></div>
        </form>
    </div>
</body>
</html>