<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>语法测试页面</title>
    <script src="{{ url_for('static',filename='js/util.js') }}"></script>
</head>
<body>
    {% if data < 10 %}
        <h2>data小于10</h2>
    {% else %}
        <h2>data不小于10</h2>
    {% endif %}
    <div style="font-weight: bold">个人信息</div>
    <table border="1px">
        {% for key,value in info.items()%}
        <tr>
            <td>{{ key }}</td>
            <td>{{ value }}</td>
        </tr>
        {% endfor %}
    </table>
    <br>
    <button onclick="testClick()">点击测试</button>
</body>
</html>