  {% load staticfiles %}
  <link rel="stylesheet" type="text/css" href="{%static 'css/bootstrap.min.css'%}">
  <link rel="stylesheet" type="text/css" href="{%static 'css/animate.min.css'%}">
  <link rel="stylesheet" type="text/css" href="{%static 'font-awesome-4.7.0/css/font-awesome.min.css'%}">
  <link rel="stylesheet" type="text/css" href="{%static 'css/index.min.css'%}">
 <style type="text/css">
    body{
      margin: 0;
      padding: 0;
      background-color: #FFF;
    }
     a:link{
      color: #5A5A5A;
    }
    a:visited{
      color:  #737070;
      text-decoration: none;
    }
    a:hover{
      color: #EE1630;
      text-decoration: none;
    }
    ul{
      list-style: none;
    }

       /*顶部区域*/ 
        #top-bar{
      position: relative;
      width: 100%;
      height: 40px;
      background-color: #F3F3F3;
    }
    #top-bar .top-left-bar{
      position: absolute;
      font-size: 15px;
      line-height: 50px;
      font-family: "SimHei";
      color: #C60E15;
    }
    .top-left-bar span{
           margin-left: 20px;
    }
    .top-right-bar ul li{
      display: inline-block;
            position: relative;
      margin-left: 25px;
            line-height: 45px;
      list-style:none; 
    }
    .top-right-bar ul li i{
      font-size:15px;
      color: #F23434;
      margin-right: 5px;
    }
        /*顶部下拉菜单*/
     .dropdown-items{
          position: absolute;
          background-color:#FFF;
          top:40px;
          left: -2px;
          text-align: center;
          line-height: normal;
          font-weight: 15px;
          width: 100px; 
          height: auto; 
          z-index: 100;
          border: 1px solid #F2F2F2;
          border-top: none;
          padding:0;
          display: none;
    }   
        .dropdown-items a{
          width: 100%;
          font-size: 14px;
          display: inline-block;
          white-space: nowrap;
          margin-top: 6px;

    }
        .dropdown-items a:hover{
          background-color:#E9E5E5;
    }
 </style>
 <div id="top-bar">
    <div class="top-left-bar col-sm-5 col-sm-offset-1">
      <i class="fa fa-home"></i><a href="{%url 'index'%}">首页</a>
      <span>{% block home%}欢迎来到【好电脑】购物商城{% endblock %}</span>
      {% if request.session.uName%}
      <span>你好,&nbsp;{{request.session.uName}}</span>
      <span><a href="{%url 'logout'%}">注销</a></span>
      {%else%}
      <span><a href="{%url 'login'%}">登录</a></span>
      <span><a href="{%url 'regist'%}">免费注册</a></span>
      {%endif%}
    </div>
    <div class="top-right-bar col-sm-offset-6 col-sm-6" style="position: absolute;"> 
      <ul>
        <li class="dropdown-tit">
          <a href="{%url 'shoppingCar'%}">
            <i class="fa fa-shopping-cart"></i>购物车</a>
            <div class="dropdown-items">
              <a href="#">已买到的商品</a>
              <a href="#">待付款的商品</a>
            </div>
          </li>
        <li class="dropdown-tit">
          <a href="{%url 'myCollect'%}">我的收藏&nbsp;<sapn class="badge">56</span></a>
            <div class="dropdown-items">
              <a href="#">收藏的商品</a>
              <a href="#">收藏的店铺</a>
            </div>
         </li>
        <li class="dropdown-tit">
          <a href="{%url 'userCenter'%}"><i class="fa fa-user"></i>用户中心</a>
          <div class="dropdown-items">
            <a href="#">个人资料</a>
            <a href="#">收货地址</a>
            <a href="#">我的订单</a>
            <a href="#">更改密码</a>
          </div>
        </li>
        <li class="dropdown-tit">
          <a href="/user/enter/businessCenter"><i class="fa fa-group"></i>卖家中心</a>
          <div class="dropdown-items">
            <a href="/user/enter/businessCenter?util=freeOpenShop">免费开店</a>
            <a href="/user/enter/businessCenter?util=releaseProduct">发布商品</a>
            <a href="{%url 'listProduct'%}?page=1">查看库存</a>
            <a href="#">订单管理</a>
            <a href="#">交易管理</a>
          </div>
        </li>
        <li>|</li>
        <li><i class="fa fa-mobile"></i><a href="#">手机版</a></li>
      </ul>
    </div>
  </div>
  <script type="text/javascript" src="{%static 'js/jquery-3.3.1.min.js'%}"></script>
  <script type="text/javascript" src="{%static 'js/bootstrap.min.js'%}"></script>
  <script type="text/javascript" src="{% static 'js/echo.min.js'%}"></script>
  <script type="text/javascript">
      //顶部导航栏下拉菜单
       $('.dropdown-tit').hover(function() {
         $(this).find('.dropdown-items').slideDown('fast');
       }, function() {
         $(this).find('.dropdown-items').slideUp('fast');
       });

       //图片懒加载 offset:图片离可视区域的距离 throttle:图片显示的延迟时间
        $(function() {
          Echo.init({offset:0,throttle:0.5});
        });

       //顶部区域监听,往下滚动150px后,顶部区域固定
       // $(window).scroll(function(event) {
       //    if($(window).scrollTop()>=150){
       //    $('#top_bar').css('position', 'fixed').css('z-index', '100');;
       //   }
       //   else{
       //    $('#top_bar').css('position', 'relative');
       //   }
       // });
  </script>

