<style type="text/css">
        /*发布商品*/
        #u-bar .proForm-area{
          position: relative;
          width: 100%;
          height: 100%;
          text-align: center;
        }
        .proForm{
        	padding: 20px;
        	margin-left: 90px;
        }
        .proTable div{
        	font-size: 16px;
        	height:60px;
        	margin-top: 10px;
        }
        .proTable li{
           position:relative;
           float: left;
           margin-left: 30px;

        }
        .proInput{
           width: 200px;
           height:30px;
        }
        input{
          text-align: center;
        }
       
</style>
  	<div class="proForm-area">
  		<h2>商品发布</h2>
  		<div class="proForm">
  		<form  action="{%url 'releaseProduct'%}" method="post" id="pro-form" enctype="multipart/form-data">
  			 {% csrf_token %}
             <div class="proTable">
  				<div>
  				<ul>
  					<li>商品名称：</li>
  					<li class="proInput"><input class=" form-control"type="text" name="proName" id="proName"></li>
  					<li></li>
  					<li>*输入商品名</li>
  				</ul>
  				</div>
          <div>
          <ul>
            <li>商品价格：</li>
            <li class="proInput">
              <div class="input-group col-lg-7" style="height:30px;margin-top:-5px">
                <input class="form-control"type="text" name="proPrice" id="proPrice">
                <span class="input-group-addon" style="background-color: #F6F6F6">元</span>
              </div>
              <span style="position:absolute;left: 230px;top:-5px;width: 100px"></span>
            </li>
            <li></li>
          </ul>
          </div>
          <div>
          <ul>
            <li>商品库存：</li>
            <li class="proInput">
              <div class="input-group col-lg-7" style="height:30px;margin-top:-5px">
                <input class="form-control"type="text" name="proStock" id="proStock">
                <span class="input-group-addon" style="background-color: #F6F6F6;">件</span>
              </div>
              <span style="position:absolute;left: 230px;top:-5px;width: 100px"></span>
            </li>
            <li></li>
          </ul>
          </div>
           <div>
          <ul>
            <li>所属品牌：</li>
            <li class="proInput">
              <div class="input-group col-lg-9" style="height:30px;margin-top:-5px">
                <select class="form-control"type="text" name="proBrand" id="proBrand">
                </select>
              </div>
              <span style="position:absolute;left: 230px;top:-5px;width: 100px"></span>
            </li>
            <li></li>
          </ul>
          </div>
           <div>
          <ul>
            <li>商品类型：</li>
            <li class="proInput">
              <div class="input-group col-lg-9" style="height:30px;margin-top:-5px">
                <select class="form-control"type="text" name="proSeries" id="proSeries">
                </select>
              </div>
              <span style="position:absolute;left: 230px;top:-5px;width: 100px"></span>
            </li>
            <li></li>
          </ul>
          </div>
  				<div>
  				<ul>
  					<li>商品图片：</li>
  					<li class="proInput"><input type="file" name="proImg" id="proImg" multiple="multiple" style="width: 200px"></li>
  					<li></li>
  					<li>*选择3张图片作为商品头像</li>
  				</ul>
  			    </div>
  			    <div>
  				<ul>
  					<li>商品描述：</li>
  					<li class="proInput">
  						<textarea class=" form-control"style="resize: none;height:80px"maxlength="30" name="proDesc" id="proDesc"></textarea>
  					</li>
  					<li></li>
  					<li>*输入10~30字的商品描述</li>
  				</ul>
  				</div>	
  			 </div>
  			<div style="margin-top: 90px;text-align: center;" >
  			<input class="btn btn-danger"type="submit" value="确定发布" style="margin-left: -100px">
  			</div>
  		</form>
  		</div>
  	</div>
  </div>
  
  <script type="text/javascript">
      
      //商店注册表单验证
      $(function() {
      	var valid = $("#pro-form").Validform({ //创建表单验证对象
  			tiptype:2,
  			showAllError:true,
  			datatype:{
  				'img':/\S+\.jpg|png|JPG|PNG|jpeg|JPEG/, //验证图片格式
          'price':/^\d{3,6}$/, //验证价格
          'stock':/^\d{1,6}$/, //验证库存
  			}
  		});
  		valid.tipmsg.r = "输入有效"; //更改验证通过显示消息
  		valid.addRule([  //为表单元素创建验证规则
             {
             	ele:"#proName",
             	datatype:"*6-20", //输入为任意6-16个字符
             	nullmsg:"请输入商品名",
             	errormsg:"商品名长度为6~20字",             	
             },
             {
              ele:"#proPrice",
              datatype:"price", 
              nullmsg:"请输入商品价格",
              errormsg:"请不要胡乱填写",               
             },
             {
              ele:"#proStock",
              datatype:"stock", 
              nullmsg:"请输入商品库存",
              errormsg:"请不要胡乱填写",               
             },
             {
             	ele:"#proImg",
             	datatype:"img", 
             	nullmsg:"请选择图片",
             	errormsg:"图片格式错误",
             },
             {
             	ele:"#proDesc",
             	datatype:"*10-30", 
             	nullmsg:"请输入商品简介",
             	errormsg:"简介长度在10~30字之间",
             },
  			]);

       //生成品牌选择选项
       var brands=[{'cat_51968': '联想/lenovo'}, {'cat_84630': '惠普/HP'}, {'cat_81372': '华硕/ASUS'}, {'cat_07369': '索尼/Sony'}, {'cat_10598': '松下/Panasonic'}, {'cat_51290': '戴尔/DELL'}, {'cat_83965': '宏碁/Acer'}, {'cat_10975': '三星/Samsung'}, {'cat_16807': '东芝/Toshiba'}, {'cat_14239': '苹果/Apple-MAC'}, {'cat_12039': 'BenQ(明基)'}, {'cat_63148': 'Founder(方正)'}, {'cat_17630': 'Great'}, {'cat_15486': '神舟Hasee'}, {'cat_38602': 'Haier(海尔)'}, {'cat_29167': 'ViewSonic(优派)'}, {'cat_18670': 'TCL'}, {'cat_32106': '翔升'}, {'cat_45830': 'ZOTAC(索泰)'}, {'cat_79241': 'HOMKEY(鸿基)'}, {'cat_23781': '其他'}]

   
       function brands_init() {
          for(var i=0;i<brands.length;i++){
            for(var key in brands[i]){
              $('#proBrand').append('<option value='+key+'>'+brands[i][key]+'</option>');
            }
          }
       }; 
       setTimeout(brands_init,500);

      //生成产品定位选项
      var series = ['笔记本','游戏本','平板电脑','超级本','台式电脑','一体机','轻薄本']
      function series_init(event) {
         for(var j = 0;j<series.length;j++){
            $('#proSeries').append('<option value='+series[j]+'>'+series[j]+'</option>');
         }
       };
      setTimeout(series_init,500);

      });
  </script>
